$def with(datos)
<a href="/"><button type="button" class="btn btn-primary btn-lg btn-block">Home</button></a>
<center><h1>Base de datos</h1></center>

<div class="container">
    <h3><a href="/insert">Insertar cliente &nbsp; &nbsp; <img src="static/images/add.png"></a></h3>
</div>
<br>
<table class="table" border="black">
    <thead class="thead-dark">
        <th scope="col">Nombre</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Email</th>
        <th scope="col">Edad</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Actualizar</th>
    </thead>
    $for row in datos:
        <tr>
            <td><a href="/view/$row.nombre">$row.nombre</a></td>
            <td><a href="/view/$row.apellido_pat">$row.apellido_pat</a></td>
            <td><a href="/view/$row.apellido_mat">$row.apellido_mat</a></td>
            <td><a href="/view/$row.email">$row.email</a></td>
            <td><a href="/view/$row.edad">$row.edad</a></td>
            <td><a href="/delete/$row.delete"><img src="static/images/delete.png"></a></td>
            <td><a href="/update/$row.update"><img src="static/images/update.png"></a></td>
        </tr>
</table>