<a href="/personas"><h1>Insertar</h1></a>

<form method="POST">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="nombre">
    <br>
    <label for="apellido_pat">Apellido Paterno</label>
    <input type="text" id="apellido_pat" name="apellido_pat" placeholder="apellido_pat">
    <br>
    <label for="apellido_mat">Apellido Materno</label>
    <input type="text" id="appellido_mat" name="appellido_mat" placeholder="appellido_mat">
    <br>
    <label for="email">Tel&eacute;fono</label>
    <input type="text" id="email" name="email" placeholder="email">
    <br>
    <label for="edad">E-mail</label>
    <input type="edad" id="edad" name="edad" placeholder="edad">
    <br>
    <button type="submit" class="btn btn-primary">Insertar</button>
</form>