<a href="/productos"><h1>Insertar</h1></a>

<form method="POST">
    <label for="id_prod">ID: </label>
    <input type="text" id="id_prod" name="id_prod" placeholder="id_prod">
    <br>
    <label for="nombre">Nombre: </label>
    <input type="text" id="nombre" name="nombre" placeholder="nombre">
    <br>
    <label for="marca">Marca: </label>
    <input type="text" id="marca" name="marca" placeholder="marca">
    <br>
    <label for="descripcion">Descripcion: </label>
    <input type="text" id="descripcion" name="descripcion" placeholder="descripcion">
    <br>
    <label for="cantidad">Cantidad: </label>
    <input type="cantidad" id="cantidad" name="cantidad" placeholder="cantidad">
    <br>
    <button type="submit" class="btn btn-primary">Insertar</button>
</form>