$def with(datos_p)
<h1><a href="/productos">Actualizar</a></h1>

<form method="POST">
    <label for="codigo">C&oacute;digo: </label>
    <input type="text" value="$datos_p.codigo" id="codigo" name="codigo">
    <br>
    <label for="nombre_produ">Nombre: </label>
    <input type="text" value="$datos_p.nombre_produ" id="nombre_produ" name="nombre_produ">
    <br>
    <label for="existencia">Existencia: </label>
    <input type="text" value="$datos_p.existencia" id="existencia" name="existencia">
    <br>
    <label for="fecha_caducidad">Fecha de Caducidad: </label>
    <input type="text" value="$datos_p.fecha_caducidad" id="fecha_caducidad" name="fecha_caducidad">
    <br>
    <label for="no_lote">No. Lote: </label>
    <input type="no_lote" value="$datos_p.no_lote" id="no_lote" name="no_lote">
    <br>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>